doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/terminal.css')
    link(rel="shortcut icon", href='/images/wood.png')
    
    script(src='https://code.jquery.com/jquery-1.10.2.js')
    script(src='/socket.io/socket.io.js')
  body
    block content
